{{ define "head" }}
<title>New Note</title>
{{ end}}

{{ define "body" }}
<article class="container">
  <form action="/notes/new">
    <div class="pv1 f f-d--row f-j--space-between f-a--end">
      <h2 class="heading m0 lh1">New Note</h2>
      <input class="button button--primary float--right" type="submit" value="Submit">
    </div>
    <input class="input input--text" type="text" placeholder="Note title" name="title">
    <textarea id="new-note-content" class="input input--text" placeholder="Start writing something" rows="10" name="content"></textarea>
  </form>
</article>

<script>
  const $noteContentInput = document.querySelector("#new-note-content");
  const minNumLines = $noteContentInput.rows;
  $noteContentInput.addEventListener('input', function() {
    const lines = 1 + (this.value.match(/\n/g) || []).length;
    this.rows = Math.max(minNumLines, lines);
  });
</script>
{{ end }}
